:root {
    --white: #ffffff;
    --dark: #1a1a1a;
    --accent-light: rgb(100, 181, 246);
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--dark);
}

html, body {
    height: 100%;
}

/* Header */
header{
    background-color: var(--accent-light);
    color: var(--white);
    padding: 8px 0;
    position: sticky;
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 110;
}

header .inner{
    display: flex;
    justify-content: space-between; /* left + right */
    align-items: center;
    gap: 30px;
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 ;
    height: 100%;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

header h1 a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
}

header h1 a:hover {
    color: var(--dark);
}

header #main {
  margin-left: 15%;
  text-align: left;
}
header #Section {
  text-align: right;
  margin-right: 5%;
}

/* Menú de navegación */
.menu {
    padding: 12px 0;
    top: 56px;
    left: 0;
    width: 100%;
    z-index: 105;
    background-color: var(--accent-light);
    padding-left: 15%;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.menu a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
}

.menu a:hover{
    color: var(--dark);
    border-bottom-color: var(--accent-light);
}

.columns {
  display: flex;
  gap: 20px;
  margin-top: 10%;
  padding-bottom: 10%;
}
.columns .newsMenu {
  padding-top: 10%;
  margin-left: 20px;

  position: sticky;
  top: 20%;        /* sticks to top when scrolling */
  height: fit-content;
  flex: 1;
  max-width: 250px;
  min-width: 150px;
}
.columns .newsMenu ul {
  margin-top: 30%;
}
.columns .newsMenu ul li {
  list-style-type: none;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.05);
  border-radius: 20px;
  text-align: center;
}
.columns .newsMenu ul li:hover{
  background-color: rgba(100, 181, 246, 0.3);
  transition: background-color 0.4s ease;
  transform: scale(1.05);
  cursor: pointer;
}
.columns .newsMenu ul li a{
  color: black;
  text-decoration: none;
}

.columns .mainContent {
  flex: 2;
  padding: 20px;
}

.columns .mainContent #reyesMagos {
  
}



footer {
    background-color: var(--accent-light);
    color: var(--white);
    padding: 10px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

footer #copyright {
    flex: 1;
    text-align: left;
}
footer #authors {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}
