:root {
    --white: #ffffff;
    --dark: rgb(26, 26, 26);
    --accent-light: #0078ff;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--dark);
}

html, body {
    height: 100%;
}

/* Header */
header{
    background-color: var(--accent-light);
    color: var(--white);
    padding: 8px 0;
    position: fixed;
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 110;
}

header .inner{
    display: flex;
    justify-content: space-between; /* title left, logo right */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;        /* center container */
    padding: 0;            /* remove extra padding */
    height: 100%;
}

header h1 {
    font-size: 2em;
    margin: 0;             /* remove margin-left */
    padding-left: 50px;
}

/* Navigation menu */
.menu ul {
    display: flex;
    list-style: none;
    gap: 25px;
    padding-left: 50px;            /* remove default padding */
    margin: 0 auto;        /* center menu within max-width */
    max-width: 1200px;     /* same width as header .inner */
}


header h1 a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
}

header h1 a:hover {
    color: var(--dark);
}

header #logo {
  margin-top: 40px;
  padding-right: 30px;
  height: 70px;
  width: auto;
  vertical-align:bottom;
  justify-content: flex-end;
}

header #main {
  text-align: left;
}

/* Menú de navegación */
.menu {
    padding: 12px 0;
    top: 56px;
    left: 0;
    width: 100%;
    z-index: 105;
    background-color: var(--accent-light);
}

.menu a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
}

.menu a:hover{
    color: var(--dark);
    border-bottom-color: var(--accent-light);
}

.columns {
  display: flex;
  gap: 20px;
  margin-top: 10%;
  padding-bottom: 10%;
}
.columns .newsMenu {
  padding-top: 10%;
  margin-left: 20px;

  position: sticky;
  top: 20%;        /* sticks to top when scrolling */
  height: fit-content;
  flex: 1;
  max-width: 250px;
  min-width: 150px;
}
.columns .newsMenu ul {
  margin-top: 5%;
}
.columns .newsMenu ul li {
  list-style-type: none;
  margin-bottom: 30px;
  background-color: rgba(135, 86, 86, 0.05);
  border-radius: 20px;
  text-align: center;
  padding: 5px, 5px, 5px, 5px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.4s ease, transform 0.3s ease;
}
.columns .newsMenu ul li:hover{
  background-color: rgba(100, 181, 246, 0.3);
  
  transform: scale(1.05);
  cursor: pointer;
}
.columns .newsMenu ul li a{
  color: black;
  text-decoration: none;
}

.columns .mainContent {
  flex: 2;
  margin-top: 10px;
  padding: 20px;
}

.columns .mainContent #reyesMagos, #festivalCine, #semanaSanta, #feriaMalaga, #mercadoMedieval {
  scroll-margin-top: 150px;
  margin-bottom: 60px;
  margin-right: 30px;
  margin-left: 20px;
  font-size: 20px;
  line-height: 2;
}
.columns .mainContent #reyesMagos h2, #festivalCine h2, #semanaSanta h2, #feriaMalaga h2, #mercadoMedieval h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.columns .mainContent #reyesMagos ul li, #festivalCine ul li, #semanaSanta ul li, #feriaMalaga ul li, #mercadoMedieval ul li {
  margin-top: 20px;
}

.columns .mainContent .content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
}

.content img {

  width: 20vw;           
  height: 20vw;          
  max-width: 200px;     
  min-width: 150px;      
  max-height: 200px;     
  min-height: 150px;      
  border-radius: 50%;    
  object-fit: cover;     

  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
  border: 4px solid rgba(255,255,255,0.6);

  margin-right: 16px;
}

#scrollToTopButton{
  -webkit-opacity: 0;
  -khtml-opacity:0 ;
  opacity: 0;
  transition: all .2s;
}

.img-btn-fixed-show{
  -webkit-opacity: 1!important;
  -khtml-opacity:1!important ;
  opacity: 1!important;
}

.floating-btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    padding: 12px 18px;
    font-size: 16px;
    background-color: #0078ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 9999;
}

.floating-btn:hover {
    background-color: #005fcc;
}



footer {
    background-color: var(--accent-light);
    color: var(--white);
    padding: 10px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

footer #copyright {
    flex: 1;
    text-align: left;
}
footer #authors {
    flex: 1;
    text-align: right;
    margin-right: 20px;
    transition: color 0.3s ease;
}

footer #authors:hover {
  color: rgb(40, 70, 110);
}

/* -----------------------------------------------------
   RESPONSIVE DESIGN
----------------------------------------------------- */

/* Large tablets / small laptops */
@media (max-width: 992px) {

    header h1 {
        padding-left: 20px;
        font-size: 1.6em;
    }

    .menu ul {
        padding-left: 20px;
        gap: 15px;
    }

    .columns {
        gap: 10px;
        margin-top: 15%;
    }

    .columns .newsMenu {
        max-width: 200px;
        font-size: 16px;
    }

    .columns .newsMenu ul li{
       padding: 5px 8px;
    }

    .content img {
        width: 25vw;
        height: 25vw;
    }
}

/* Tablets */
@media (max-width: 768px) {

    /* Header becomes simpler */
    header .inner {
        padding: 0 15px;
    }

    #logo {
        display: none;
    }

    .menu ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-bottom: 0;
    }

    /* Two-column layout collapses into 1 */
    .columns {
        flex-direction: column;
        margin-top: 10%;
        padding: 20px;
    }

    .columns .newsMenu {
        position: sticky;
        top: 90px;                 /* Keeps the menu above content */
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        z-index: 100;               /* Ensures news menu stays above the content */
        background-color: var(--white);
        padding-bottom: 20px;
    }

    .columns .newsMenu ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .columns .newsMenu ul li {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
        padding: 10px;
        width: auto;
        background-color: var(--accent-light);       
    }

    .columns .newsMenu ul li:hover{
        background-color: rgba(26, 26, 26, 0.8);
    } 

    .columns .newsMenu ul li a{
        color: rgba(255,255,255,1);
    }


    /* Make the content start lower so the newsMenu doesn't overlap */
    .columns .mainContent {
        margin-top: 40px;          
    }

    /* Content layout switches to vertical stack */
    .columns .mainContent .content {
        grid-template-columns: 1fr;
        text-align: center;
        font-size: 17px;
        
    }

    .columns .mainContent #reyesMagos, #festivalCine, #semanaSanta, #feriaMalaga, #mercadoMedieval {
        scroll-margin-top: 200px;
    }

    .columns .mainContent ul {
    list-style: none;  /* removes bullets */
    padding-left: 0;   /* removes indentation */
    }

    /* Center all <h2> titles inside sections */
    .columns .mainContent h2 {
        text-align: center;
    }

    .content img {
        margin: 0 auto;
        width: 50vw;
        height: 50vw;
    }
}

@media (max-width: 715px) {

    .columns .newsMenu {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 30px;
    }

    /* Hide the original text */
    .columns .newsMenu ul li a {
        font-size: 0;  /* hides text */
    }

    /* Replace text with numbers */
    .columns .newsMenu ul li:nth-child(1) a::before {
        content: "1";
    }
    .columns .newsMenu ul li:nth-child(2) a::before {
        content: "2";
    }
    .columns .newsMenu ul li:nth-child(3) a::before {
        content: "3";
    }
    .columns .newsMenu ul li:nth-child(4) a::before {
        content: "4";
    }
    .columns .newsMenu ul li:nth-child(5) a::before {
        content: "5";
    }

    /* Style the numbers */
    .columns .newsMenu ul li a::before {
        font-size: 20px;
        color: white;
        font-weight: 700;
    }

    .columns .newsMenu ul li {
        font-size: 16px;
        padding: 8px;
        border-radius: 20px;
        height: 50%;
        width: 15%;
        display: flex;            
        justify-content: center; 
        align-items: center;      
    }

    .columns .mainContent {
        padding: 10px;
    }
    .columns .mainContent #reyesMagos, #festivalCine, #semanaSanta, #feriaMalaga, #mercadoMedieval {
            scroll-margin-top: 230px;
    }

    .columns .mainContent #reyesMagos, #festivalCine, #semanaSanta, #feriaMalaga, #mercadoMedieval {
            scroll-margin-top: 260px;
    }

}


/* Mobile */
@media (max-width: 480px) {

    header h1 {
        padding-left: 10px;
        font-size: 1.3em;
    }

    #logo {
        display: none;  /* You can remove this if you want to keep the logo */
    }

    .menu ul {
        gap: 8px;
        font-size: 0.9em;
    }

    .columns {
        margin-top: 20%;
    }

    .columns .newsMenu {
      margin-top: 0;
      padding-top: 40px;
      top: 65px;  /* Adjusted to fit mobile view */
      width: 100%;
    }

    .columns .newsMenu ul li {
        font-size: 14px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
           
    }

    .content img {
        width: 55vw;
        height: 55vw;
        max-width: 160px;
        max-height: 160px;
    }

    footer {
        font-size: 0.8em;
        padding: 6px;
    }
}



